.next {
  > div.label {
    color: #2fa1f3;
    font-size: 1.1em;
  }
  > div:last-child {
    height: 80px;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.animate {
  animation-name: animationNext;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes animationNext {
  from {
    background: #f4f4f4;
  }
  50% {
    background: #d1d1d1;
  }
  to {
    background: #f4f4f4;
  }
}
