.features {
  .header {
    height: 40px;
    width: inherit;
    background-color: #2fa1f3;
    text-align: center;
    line-height: 40px;
    color: #fff;
  }
  > div.content {
    overflow-y: auto;
    padding: 10px;
    height: 350px;
    flex-wrap: wrap;
    > div {
      margin: 5px;
    }
  }
}
